body{
    background-color: rgb(9, 9, 35);
    color: antiquewhite;
}
.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
 flex-direction: column;
}
#clock{
    background-color: aqua;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
   font-size: 40px;
}